<form method="POST" id="add_beast">
    <div class="new_beast">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" id="name" value="" placeholder="Big Chungus">
        </div>
        <div class="form-group">
            <label for="size">size</label>
            <input type="text" name="size" id="size" value="" placeholder="small">
        </div>
        <div class="form-group">
            <label for="type">Type</label>
            <input type="text" name="type" id="type" value="beast">
        </div>
        <div class="form-group">
            <label for="alignment">Alignment</label>
            <input type="text" name="alignment" id="alignment" value="" placeholder="Lawful Good">
        </div>
        <div class="form-group">
            <label for="hp">HP</label>
            <input type="number" name="hp" id="hp" value="">
        </div>
        <div class="form-group">
            <label for="ac">AC</label>
            <input type="number" name="ac" id="ac" value="">
        </div>
        <div class="form-group">
            <label for="ability_mod_name">STR</label>
            <input type="number" name="str" id="str" value="" placeholder="">
            <label for="ability_mod_name">DEX</label>
            <input type="number" name="dex" id="dex" value="" placeholder="">
            <label for="ability_mod_name">CON</label>
            <input type="number" name="con" id="con" value="" placeholder="">
            <label for="ability_mod_name">INT</label>
            <input type="number" name="int" id="int" value="" placeholder="">
            <label for="ability_mod_name">WIS</label>
            <input type="number" name="wis" id="wis" value="" placeholder="">
            <label for="ability_mod_name">CHA</label>
            <input type="number" name="cha" id="cha" value="" placeholder="">
        </div>
        <!--<div class="form-group">
            <label for="ability_name">Name of Ability</label>
            <input type="text" name="ability_name" value="" placeholder="Keen Sense">
            <label for="ability_text">Ability Text</label>
            <input type="text" name="ability_text" value="" placeholder="Add or copy text here.">
            <label for="ability_keywords">Keywords In Ability</label>
            <input type="text" name="ability_keywords" value="" placeholder="">
        </div>
        <div class="form-group">
            <label for="ability_mod_name">Ability Mod Name</label>
            <input type="text" name="ability_mod_name" value="" placeholder="Proficiency Bonus">
            <label for="ability_mod_bonus">Ability Mod Bonus</label>
            <input type="number" name="ability_mod_bonus" value="" placeholder="+10">
        </div>-->
    </div>
</form>