<div class="container d-flex justify-between grain top-border">
    <div class="container text-left">
        <h3>What level is your druid?</h3>
        <div class="container d-flex justify-between">
            <div class="form-group text-left">
                <input type="number" name="level" id="level" min="1" max="20" class="border-shadow" placeholder="Enter Level">
            </div>
        </div>
    </div>
    <div class="container text-left">
        <h3>What do you need?</h3>
        <div class="container d-flex justify-between">
            <div class="form-group">
                <!--<label for="movement">Movement</label>-->
                <select name="movement" id="movement" class="border-shadow">
                    <option value="">Movements</option>
                    <option value="Walk">Walk</option>
                    <option value="Climb">Climb</option>
                    <option value="Burrow">Burrow</option>
                    <option value="Swim">Swim</option>
                    <option value="Fly">Fly</option>
                </select>
            </div>
            <div class="form-group">
                <!--<label for="ability">Abilities</label>-->
                <select name="ability" id="ability" class="border-shadow">
                    <option value="">Abilities</option>
                    <option value="Amphibious">Amphibious</option>
                    <option value="Beast of Burden">Beast of Burden</option>
                    <option value="Blood Frenzy">Blood Frenzy</option>
                    <option value="Charge">Charge</option>
                    <option value="Echolocation">Echolocation</option>
                    <option value="Flyby">Flyby</option>
                    <option value="Hold Breath">Hold Breath</option>
                    <option value="Illumination">Illumination</option>
                    <option value="Pack Tactics">Pack Tactics</option>
                    <option value="Keen Hearing">Keen Hearing</option>
                    <option value="Keen Sight">Keen Sight</option>
                    <option value="Keen Smell">Keen Smell</option>
                    <option value="Keen Hearing and Sight">Keen Hearing and Sight</option>
                    <option value="Keen Hearing and Smell">Keen Hearing and Smell</option>
                    <option value="Mimicry">Mimicry</option>
                    <option value="Pounce">Pounce</option>
                    <option value="Relentless">Relentless</option>
                    <option value="Spider Climb">Spider Climb</option>
                    <option value="Standing Leap">Standing Leap</option>
                    <option value="Sure-footed">Sure-footed</option>
                    <option value="Trampling Charge">Trampling Charge</option>
                    <option value="Underwater Camouflage"> Underwater Camouflage</option>
                    <option value="Water Breathing">Water Breathing</option>
                    <option value="Web Sense">Web Sense</option>
                    <option value="Web Walker"> Web Walker</option>
                </select>
            </div>
            <div class="form-group">
                <!--<label for="ability">Abilities</label>-->
                <select name="dtype" id="dtype" class="border-shadow">
                    <option value="">Damage Types</option>
                    <option value="bludgeoning">Bludgeoning</option>
                    <option value="piercing">Piercing</option>
                    <option value="slashing">Slashing</option>
                    <option value="acid">Acid</option>
                    <option value="cold">Cold</option>
                    <option value="fire">Fire</option>
                    <option value="force">Force</option>
                    <option value="lightning">Lightning</option>
                    <option value="necrotic">Necrotic</option>
                    <option value="poison">Poison</option>
                    <option value="psychic">Psychic</option>
                    <option value="radiant">Radiant</option>
                    <option value="thunder">Thunder</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group text-center center">
        <button type="submit" class="btn nova border-shadow">Find My Beast</button>
    </div>
</div>