        <footer>
            <nav>
                <div class="dark-back text-center" id="foot-container">
                    <div class=" container border-bottom">
                        <h4 class="footer-head">Admin Tools</h4>
                    </div>
                    <div class="footer-margin">
                        <a href="/add-beast" class="footer-link">Add A Beast</a>
                    </div>
                    <div class="footer-margin">
                        <a href="/edit-menu" class="footer-link">Edit and Delete a Beast</a>
                    </div>
                </div>
            </nav>
        </footer>

        <!--Load in JQuery library and file.-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" 
            integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" 
            referrerpolicy="no-referrer">
        </script>
        <script src="/js/edit.js"></script>
        <!--/Load in JQuery library-->
    </body>
</html>